            <%= comment.tweet.text %>
            <p>
                <strong><%= link_to "#{comment.user.nickname}", "/users/#{comment.user.id}", method: :get %></strong> : 
                <%= comment.text %>
                 [<%= comment.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>]
                <% if comment.user.id == current_user.id || current_user.nickname=="よしあき" %>
                    <%= link_to '削除',"/tweets/#{@tweet.id}/comments/#{comment.id}", method: :delete %>
                <% end %>
            </p>
        